.navbar-custom {
  border-bottom: 2px solid #020617;
  backdrop-filter: blur(10px);
  background-color: rgba(3, 4, 94, 0.98) !important;
}

.brand-name {
  color: #020617;
  font-weight: 800;
}

.nav-link-custom {
  color: #caf0f8 !important;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.nav-link-custom::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #020617;
  transition: width 0.3s ease;
}

.nav-link-custom:hover::after {
  width: 100%;
}

.nav-link-custom:hover {
  color: #90e0ef !important;
}
